body {
	background-color: mediumseagreen;
}
/*
steelblue
lightskyblue
darkslategray
mediumseagreen
*/
.messages .panel-body{
	height: 400px;
	overflow-y: scroll;
}

.signin {
	max-width: 250px;
	margin: 0px auto;	
}