@font-face {
  font-family: "source-sans-pro";
  src: url("/fonts/SourceSansPro-Regular.otf.woff");
}
body {
	background-color: mediumseagreen;
  font-family: source-sans-pro,pt sans,calibri,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
/*
steelblue
lightskyblue
darkslategray
mediumseagreen
*/
.messages .panel-body{
	height: 400px;
	overflow-y: scroll;
}

.signin {
	max-width: 250px;
	margin: 0px auto;	
}

.badge.unread {
  background-color: #2196f3;
}

.chat-item {
  margin-top: 12px;
}

.chat-item_content {
  padding-left: 10px;

}
.chat-item_from {
  color: #333;
  font-weight: 600;
  opacity: .7;
  padding: 0;
  margin: 0;
  display: inline;
}

.chat-item_text {
  color: #000;
  word-break: break-word;
}

.chat-item_avatar {
  padding-top: 6px;
}

.chat-item__time {
  display: inline;
  float: right;
  color: rgba(170,170,170,.7);
}