<div class="container">
  <div class="jumbotron text-center">
      <h2>
        SignUp
      </h2> 
      <p class="bg-danger error"></p>
      <form class="signin">
        <div class="form-group">
          <!-- <label for="username" class="col-md-4 control-label">Username</label> -->
            <input type="text" name="username" placeholder="username" class="text-center form-control" >
        </div>
        <div class="form-group">
          <!-- <label for="password" class="col-md-4 control-label">Password</label> -->
            <input type="text" name="password" placeholder="password" class="text-center form-control" >
        </div>
        <button class="btn btn-md btn-primary btn-block btn-signin" type="submit">Sign up</button>
      </form>
      already have account? <a href="#auth/login">Login</a> here
  </div>
</div>
