
    <div class="teams">
      <div class="panel panel-primary">
      <div class="panel-heading">Teams list</div>
      <div class="panel-body">
      </div>
  		<div class="list-group">
  			<a href="#" class="list-group-item">Mobile Phones <span class="badge">50</span>
  			</a>
  			<a href="#" class="list-group-item">Laptops & Desktops <span class="badge">145</span>
  			</a>
  		</div>
    </div>
    </div>

    <div class="contacts">
      <div class="panel panel-primary">
      <div class="panel-heading">Contacts list</div>
      <div class="panel-body">
      </div>
  		<div class="list-group">
  			<a href="#" class="list-group-item">Tablets <span class="badge">30</span>
  			</a>
  			<a href="#" class="list-group-item">Audio & Video Players <span class="badge">65</span>
  			</a>
  			<a href="#" class="list-group-item">Camera <span class="badge">8</span>
  			</a>
  		</div>
    </div>


</div>
