<div class="panel panel-primary">
    <div class="panel-heading">Chat <%= name %></div>
    <div class="panel-body">
    </div>
    <div class="panel-footer">
        <% if (app.session.get('isLogged')) { %>
    	<div class="input-group">
			<input type="text" class="form-control message" placeholder="Click here to type a chat message."> 
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button">Send</button>
			</span>
	    </div>
        <% } else { %>
            <div class="text-center">
            please
                <a href="#auth/login">login</a> 
                first, for start chatting
            </div>
        <% } %>
    </div>
</div>